@import url('https://api.fonts.coollabs.io/css2?family=Jockey+One&display=swap');
@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');
@import url('https://api.fonts.coollabs.io/css2?family=Montserrat&display=swap');
@import url('https://fonts.cdnfonts.com/css/reddit-sans-condensed');
@import url('https://fonts.cdnfonts.com/css/proxima-nova');

* {
  margin: 0;
  padding: 0;
}

*, 
::before, 
::after {
  box-sizing: border-box;
}





:root {
  --light-blue: hsl(183, 100%, 81%);
}

body {
  background: hsl(256, 100%, 10%);
  background: #0C0C0C;
  color: #c0c0c0;
  font-family: 'poppins';
}

a {
  text-decoration: none;
  color: currentColor;
}

h4 {
  font-family: "raleway", sans-serif;
/*   font-family: 'Reddit Sans Condensed', sans-serif; */
  font-weight: 300;
  font-size: 2rem;
}
.main__navigation {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: .35rem 0.75rem;
  align-items: center;
}

.logo--text p {
  color: hsl(42, 62.5%, 55.9%);
  font-family: 'Jockey One';
  font-weight: 700;
}

.logo--img__cont {
  grid-column: 2;
  width: 50px;
/*   border: 1px solid firebrick; */
  justify-self: center;
}

.logo--img__cont img {
  max-width: 100%;
  height: auto;
  opacity: 0;
}

.binUUT {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: var(--text-base);
    font-family: var(--font-sans);
    font-weight: var(--font-weight-normal);
    background: transparent;
    color: inherit;
    border: none;
    box-shadow: none;
}

.veALn {
    font: var(--font-weight-regular) 16px Inter Tight;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #0C0C0C;
    width: fit-content;
    height: 40px;
    display: flex;
    background: hsl(42, 62.5%, 55.9%);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    align-items: center;
    padding-left: 16px;
    border-radius: 6px;
    padding-right: 16px;
    justify-content: center;
}


.opl--img-wrapper {
/*   border: 1px solid firebrick; */
  width: 100%;
  position: relative;
/*   max-width: 1000px; */
  margin: 0 auto;
  background: linear-gradient(to top, #000, transparent);
  -webkit-mask-image: linear-gradient(to top, transparent 5%, black 85%);
  mask-image: linear-gradient(to top, transparent 5%, black 85%);
}

.opl--img-wrapper img {
  position: relative;
/*   inset: 0; */
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  grid-row: 1 / 2;
/*   scale: 359%;
  object-position: center -140px; */
/*   filter: blur(12px);
  scale: 2.2; */
/*   z-index: 1; */
}

.opl--img-wrapper::after {
  position: absolute;
  inset: 0;
/*   top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
/*   background: linear-gradient(to top, #000, transparent);
  -webkit-mask-image: linear-gradient(to bottom, transparent 5%, black 95%);
  mask-image: linear-gradient(to bottom, transparent 15%, black 85%); */
}

.me--site-title {
  position: absolute;
/*   text-align: center; */
  font-size: clamp(2rem, 4vw + 0.3rem, 3.2rem);
  z-index: 1;
  padding: 2rem 0;
}

.me--site-title h2 {
  display: grid;
  font-family: 'Jockey One';
  line-height: 1;
  color: #fafafa;
  text-transform: uppercase;
  margin-left: 1.5rem;
  z-index: 10;
}


.main--story {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 1.5rem;
  margin-top: -30px;
}

.main--story h2, 
.main--story h4 {
/*   text-align: center; */
  position: relative;
  margin-bottom: 4rem;
}

.main--story h4::after {
  position: absolute;
  content: attr(data-caption-text);
  top: 74%;
  left: 120px;
  font-size: .515rem;
  font-weight: 700;
  text-transform: uppercase;
}

.main--story p {
/*   width: 80ch; */
  grid-column: 1;
  font-family: 'Proxima Nova';
  margin: 0 auto;
  margin-bottom: 2rem;
}

form {
  display: grid;
  place-items: center;
}

.intv--test-btn {
  min-width: 20%;
  display: flex;
  align-items: center;
  padding: .25rem;
  margin-bottom: 3rem;
  justify-content: center;
  border-radius: 50px;
  border: 0;
  outline: 1px solid transparent;
}

.intv--test-btn svg {
  transition: .3s ease-in-out;
}

.intv--test-btn:hover {
  cursor: pointer;
}

.intv--test-btn:hover svg {
  transform: translate(4px, 0);
}

.profile-img--cont {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  right: 10%;
  width: 250px;
  height: 100%;
  z-index: 2;
  
}

.image-container {
  position: relative;
  width: 100%;
  height: 350px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.image-container::after {
  position: absolute;
  content: '';
  inset: 0;
  background: rgba(0 0 0 / .2)
}

.image-container img {
  max-width: 100%;
  height: auto;
  display: block;
}
